@import "../base/_colors";
@import "../mixins/responsive";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #404040;
  color: #fff;
  width: 100vw;
  .footerNav {
    display: flex;
    width: 100%;
    .listItem {
      border-width: 0 1px 1px 1px;
      border-color: #9c9c9c;
      border-style: solid;
      width: calc(100% / 3);
      height: 50px;
      text-align: center;
    }
    a {
      display: inline-block;
      position: relative;
      width: 100%;
      line-height: 50px;
      &:before {
        content: "";
        width: 6px;
        height: 6px;
        border: 0;
        border-top: solid 2px #fff;
        border-right: solid 2px #fff;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 50%;
        right: 20px;
        margin-top: -4px;
        @include responsive(md) {
          display: none;
        }
      }
    }
  }
  .copyrights {
    font-size: 16px;
    padding: 20px 0;
    text-align: center;
  }
}
