@import "../base/_colors.scss";
@import "../mixins/responsive";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: calc(100vw - 15px);
  // width: 97.6vw;
  .footerNav {
    display: flex;
    width: 100%;
    background: #f0f0f0;
    color: #333;
    .listItem {
      border: 1px solid #c7c7c7;
      width: calc(100% / 3);
      height: 50px;
      text-align: center;
    }
    a {
      display: inline-block;
      position: relative;
      width: 100%;
      line-height: 50px;
      &:before {
        content: "";
        width: 6px;
        height: 6px;
        border: 0;
        border-top: solid 2px $main-color;
        border-right: solid 2px $main-color;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 50%;
        right: 20px;
        margin-top: -4px;
        @include responsive(md) {
          display: none;
        }
      }
    }
  }
  .copyrights {
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
  }
}
